main.py
**/*.pyc
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.tfstate.lock.info
/scripts/logs
/scripts/plugins